@import 'sass/helpers/_variables.sass'
@import 'sass/helpers/_extends.sass'
@import 'sass/helpers/_mixins.scss'

@import 'sass/ui/_button.sass'

.set-quiz-wrap
    .banner-wrap
        +margin(top 75px)
        +border-radius(75px 75px 75px 0)
        height: 364px
        background-size: cover
        background-repeat: no-repeat
        background-position: center center

        h1
            +padding(top 152px)
            text-align: left
            font-weight: 800
            font-size: 26px
            line-height: 30px
            color: $white

        p
            +padding(top 26px)
            font-weight: bold
            font-size: $font-size-large
            line-height: 20px
            color: $white

        .set-quiz-tip-wrap
            +margin(top 10px)
            +flex-box(flex-end)

            .set-quiz-tip-box
                +flex-box(center, center)
                +size(238px, 152px)
                +padding(40px 20px)
                +border-radius(64px 64px 64px 0)
                +box-sizing(border-box)
                box-shadow: 3px 3px 20px rgba(0,0,0,0.1)
                background-color: #E3E2F0
                font-weight: 800
                font-size: $font-size-large
                line-height: 20px
                text-align: center

    .content-wrap
        +margin(top 70px bottom 145px)

        .option-box-wrap
            +margin(top 76px)

            .option-box-title-wrap
                +padding(left 90px right 30px bottom 24px)
                +border(2px solid #e7e7e7, bottom)

                h2
                    font-weight: 800
                    font-size: 26px

            .dropdown-box-wrap
                +margin(top 25px)

        .selected-box-wrap
            +margin(top 76px)

            .selected-tag-box
                +size(100%, 100% null 75px)
                +padding(20px 90px 20px 110px)
                +border-radius(15px)
                +box-sizing(border-box)
                display: flex
                background-color: $page-color
                box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1)

                .btn-reset
                    +btn()
                    +size(120px)
                    +border(0px)
                    font-size: 16px
                    color: #FFFFFF

            .selected-tags-list-wrap
                +size(100%)
                +flex-box(flex-start, cetner)
                flex-wrap: wrap
                gap: 7px 10px

                .selected-tag
                    +btn(page-ghost, 2px solid #ffffff, 17px 17px 17px 0)
                    +padding(5px 17px)
                    color: #FFFFFF
                    font-weight: 700
                    font-size: 14px
                    letter-spacing: -0.02em

        .btn-start
            +btn(page-dark-fill, null, 25px 25px 25px 0)
            +size(135px, 50px)
            +margin(top 40px left auto bottom 250px)
            font-weight: 800
            font-size: 18px