.banner {
  background-image: url('../assets//banner-background.png');
}

.introduce {
  text-align: left;
}

.services {
  position: absolute;
  left: 40.89%;
  right: 6.56%;
  top: 17.4%;
  bottom: 60.04%;
}
