.banner {
  width: 1920px;
  height: 1006px;
  left: 0px;
  top: 74px;

  filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.1));
}

.bannerWrap {
  /* Rectangle 101 */
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  /* Basic / Secondary */
  background: #111036;
  border-radius: 300px 300px 300px 0px;
}

.logo {
  position: absolute;
  left: 9.48%;
  right: 71.93%;
  top: 14.02%;
  bottom: 66.4%;
  background-image: url('../assets/logo.png');
}

.introduce {
  position: absolute;
  left: 9.11%;
  right: 64.9%;
  top: 38.37%;
  bottom: 57.06%;

  /* Header 3 */

  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.services {
}

.search {
}
