.banner {
  position: relative;
  width: 1920px;
  height: 364px;
  margin: auto;
  margin-top: 75px;
  text-align: left;
}

.bannerImg {
  border-radius: 120px 120px 120px 0px;
}

.body {
  width: 1920px;
  margin: auto;
}

.bannerTitle {
  position: absolute;
  left: 512px;
  top: 152px;

  /* Header 2 */

  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 30px;
  /* identical to box height */

  color: #ffffff;
}

.bannerContent {
  /* 아직도 암기식으로 면접을 준비하시나요? 체계적으로 전략적으로 학습해보세요! */

  position: absolute;
  left: 515px;
  top: 208px;

  /* Header 3 */

  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;

  color: #ffffff;
}

.bannerInfo {
  /* Frame 30 */
  position: absolute;
  left: calc(50% - 221px / 2 + 418.5px);
  top: 253px;
  /* Auto Layout */
  height: 152px;
  width: 221px;
  text-align: center;

  background: #e3e2f0;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 65px 65px 65px 0px;
}

.bannerInfoText {
  /* header 3 */

  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  padding-top: 41px;
  color: #000000;
}

.userInfo {
  /* Rectangle 105 */
  display: flex;
  width: 1060px;
  margin: auto;
  height: 110px;
  position: relative;
  margin-top: 70px;
  /* Font / White */

  background: #ffffff;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  text-align: left;
}

.userProfileSection {
  margin-left: 90px;
  display: flex;
  width: 320px;
}
.userProfileImg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: left;
  margin-top: 33px;
  margin-right: 11px;
}
.userName {
  /* 김문준 님 */
  position: relative;
  /* Header 2 */
  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  /* identical to box height, or 77% */
  /* Basic / Secondary */
  margin-top: 36px;
  color: #111036;
}

.userEmail {
  /* iterview.cs@gmail.com */
  position: relative;
  /* Boby 1 */
  font-family: NanumSquare;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
  /* identical to box height, or 29px */
  /* Basic / Secondary 30% */
  color: rgba(17, 16, 54, 0.3);
}
.userDetailSection {
  width: 257px;
  display: flex;
}
.userDetailTitle {
  /* 퀴즈로 푼 문제 */
  /* Boby 1 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  font-family: NanumSquare;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  /* identical to box height, or 29px */
  /* Basic / Secondary */
  color: #111036;
  margin-left: 48px;
}
.userDetailCnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  gap: 5px;
  margin-left: 40px;
  /* Header 3 */
  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;

  /* identical to box height, or 83% */
  /* Font / Black */
  color: #000000;
}
.userTagsSection {
  width: 393px;
}

.userTagsTitle {
  /* 많이 푼 문제 종류 */
  /* Boby 1 */
  font-family: NanumSquare;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 180%;
  margin-left: 48px;

  /* identical to box height, or 29px */
  /* Basic / Secondary */
  color: #111036;
  margin-top: 27px;
}
.userTags {
  margin-left: 48px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: rgba(17, 16, 54, 0.3);
}

.userTag {
  /* 버튼 */

  font-family: NanumSquare;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  letter-spacing: -0.02em;
  /* Basic / Secondary 30% */
  color: rgba(17, 16, 54, 0.3);
  /* Inside Auto Layout */

  /* Frame 4 */

  /* Auto Layout */
  padding: 6px 15px;
  border: 1.5px solid rgba(17, 16, 54, 0.3);
  box-sizing: border-box;
  border-radius: 15px 15px 15px 0px;
}

.verticalLine {
  height: 75px;
  margin-top: 18px;
  border-right: 1px solid rgba(17, 16, 54, 0.3);
}

.selectTagsBox {
  width: 1060px;
  margin: auto;
  margin-top: 76px;
  text-align: left;
}
.selectTagsTitle {
  /* 문제 종류 */
  margin-left: 75px;
  /* Header 2 */
  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 20px;
  /* identical to box height, or 77% */

  color: #000000;
}

.horizontalLine {
  height: 2px;
  width: 1060px;
  margin-top: 32px;
  background-color: #e7e7e7;
}
.selectTagsCheckbox {
  /* Rectangle 105 */
  position: relative;
  margin-top: 25px;
  width: 1060px;
  height: 75px;
  /* Font / White */
  background: #ffffff;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  z-index: 2;
}
.checkboxTitle {
  /* 문제 종류 */
  line-height: 75px;
  margin-left: 90px;
  /* Boby 1 */

  font-family: NanumSquare;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  /* or 29px */

  /* Font / Light */
  color: #a0a0a0;
}
.tagsResetCheckboxBtn {
  float: right;
  /* line-height: 75px; */
  margin-top: 29px;
  margin-right: 31px;
  /* Body */

  font-family: NanumSquare;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: right;
  /* Font / Light */

  color: #a0a0a0;
}
.dropdownBtn {
  float: right;
  height: 75px;
  margin-right: 46px;
}
.dropdownArrow {
  width: 15px;
  height: 7px;
}

.dropdownArrowToggle {
  width: 15px;
  height: 7px;
  transform: rotate(180deg);
  transition-duration: 0.3s;
}

.dropdownClose {
  margin-top: -20px;
  width: 1060px;
  height: 0px;
  transition: all 0.4s ease-in;
  transform-origin: top left;
  transform: scaleY(0);
}
.dropdownOpen {
  position: relative;
  width: 1060px;
  height: 300px;
  margin-top: -20px;
  /* Font / White */
  background: #ffffff;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 15px 15px;
  z-index: 0;
  transition: all 0.4s ease-out;
  transform-origin: top left;
  transform: scaleY(1);
  overflow-y: scroll;
}

.dropdownTags {
  padding-top: 20px;
  margin-left: 90px;
  margin-right: 90px;
}
.tag {
  width: 50%;
  float: left;
  padding-bottom: 20px;
}

.tagNameDeselected {
  /* Boby 1 */
  font-family: NanumSquare;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  display: flex;
}

.tagNameSelected {
  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  display: flex;
}
input {
  display: none;
}
label:hover {
  cursor: pointer;
  color: #796aca;
}
label:hover > .checkbox {
  border-color: #796aca;
}

.checkboxDeselected {
  width: 16px;
  height: 16px;
  border: 1px solid #111036;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 25px;
}

.checkboxSelected {
  width: 16px;
  height: 16px;
  border: 1px solid #111036;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 25px;
  background: #111036;
}

.selectedTagsSection {
  position: relative;

  width: 1060px;
  margin: auto;
  margin-top: 76px;
  text-align: left;
}

.selectedTagsSectionTitle {
  position: relative;
  margin-left: 75px;
  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 20px;

  color: #000000;
}
.selectedTagsBox {
  position: relative;
  width: 1060px;
  height: 323px;
  margin-top: 25px;
  background: #231d4c;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding-top: 45px;
  margin-bottom: 146px;
}
.selectedTagsTitle {
  position: relative;
  /* Header 2 */
  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  /* identical to box height, or 77% */
  /* Font / White */
  color: #ffffff;
  margin-left: 90px;
}

.horizontalTagLine {
  height: 2px;
  width: 878px;
  margin: auto;
  margin-top: 30px;
  background-color: #796aca;
}

.tagsResetBtn {
  float: right;
  margin-right: 90px;
  margin-top: 10px;
  font-family: NanumSquare;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  /* Font / Light */
  color: #a0a0a0;
}

.selectedTags {
  width: 878px;
  height: 150px;
  margin: auto;
  margin-top: 11px;
}
.selectedTag {
  position: relative;
  font-family: NanumSquare;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;

  padding: 5px 18px;

  box-sizing: border-box;
  border-radius: 17px 17px 17px 0px;

  margin: 0px 10px 8px 0px;
  color: #796aca;
  border: 2px solid #796aca;
}
.quizStart {
  /* Auto Layout */

  padding: 15px 33px;

  background: #796aca;
  border: 4px solid #796aca;
  box-sizing: border-box;
  border-radius: 25px 25px 25px 0px;

  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;

  color: #ffffff;

  float: right;
  margin-right: 90px;
}

/* Quiz Solving Page */

.solvingBanner {
  width: 1920px;
  margin: auto;
  margin-top: 75px;
}
.solvingBannerImg {
  width: 1920px;
  height: 225px;
  border-radius: 75px 75px 75px 0px;
}
.solvingBannerText {
  /* 테스트 문제 */
  /* header 3 */
  position: relative;
  float: left;
  margin-top: -160px;
  margin-left: 500px;

  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height */

  /* Basic / Primary */

  color: #796aca;
  text-align: left;
}
.solvingBannerArrow {
  width: 5px;
  height: 12px;
  margin-left: 20px;
  margin-right: 20px;
}

.solvingBannerTag {
  /* 운영체제 */
  /* header 3 */

  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height */

  /* Font / Light */
  color: #a0a0a0;
}

.questionTitle {
  /* 멀티프로세스는 무엇이고, 왜 사용할까요? */
  /* Header 2 */
  margin-top: 53.5px;
  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 20px;
  /* or 77% */

  display: flex;
  align-items: center;

  /* Font / White */

  color: #ffffff;
}
.answerTitle {
  text-align: left;
  margin-top: 67px;
  margin-left: 500px;
  /* Header 3 */

  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 15px;

  color: #000000;
}
.answerTextLength {
  float: right;
  margin-right: 500px;
  /* Boby 1 */

  font-family: NanumSquare;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;

  /* identical to box height, or 29px */
  /* Font / Light */

  color: #a0a0a0;
}

.answerForm {
  position: relative;
  width: 1060px;
  height: 360px;
  margin: auto;
  margin-top: 25px;
}
.answerInput {
  width: calc(1060px - 140px);
  height: calc(360px - 90px);
  padding: 45px 70px;
  background: #ffffff;
  border: 0;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  resize: none;

  /* Boby 1 */

  font-family: NanumSquare;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  /* or 29px */
  outline-color: #dddddd;
}
.quizHorizontalLine {
  height: 2px;
  width: 1060px;
  margin: auto;
  margin-top: 34px;
  background-color: #e7e7e7;
}
.answerInput::-webkit-input-placeholder {
  color: #a0a0a0;
}

.answerInput:-ms-input-placeholder {
  color: #a0a0a0;
}

.coreKeywordBox {
  position: relative;
  padding-left: 75px;

  width: 985px;
  height: 75px;
  margin: auto;
  margin-top: 25px;
  background: #796aca;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  text-align: left;
  z-index: 2;
}

.coreKeywordTitle {
  /* Header 3 */

  font-family: NanumSquare;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 75px;
  /* or 83% */

  /* Font / White */
  /* margin-left: 75px; */
  color: #ffffff;
}
.keywordDropdownBtn {
  float: right;
  height: 75px;
  margin-right: 65px;
}
.keywordDropdown {
  width: 15px;
  height: 7px;
}
.keywordDropdownToggle {
  width: 15px;
  height: 7px;
  transform: rotate(180deg);
  transition-duration: 0.3s;
}

.keywordDropdownOpen {
  position: relative;
  padding-left: 75px;
  width: 985px;
  height: 95px;
  margin: auto;
  margin-top: -20px;
  margin-bottom: 30px;

  /* Font / White */
  background: #796aca;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 15px 15px;
  z-index: 0;
  transition: all 0.4s ease-out;
  transform-origin: top left;
  transform: scaleY(1);

  text-align: left;
}

.keywordDropdownClose {
  margin: auto;
  margin-top: -20px;
  margin-bottom: 50px;
  padding-left: 75px;

  width: 985px;
  height: 0px;
  transition: all 0.4s ease-in;
  transform-origin: top left;
  transform: scaleY(0);
}

.dropdownKeywords {
  padding-top: 20px;
  height: 75px;
  color: palegoldenrod;
}
.coreKeyword {
  float: left;
  margin-top: 22px;
  margin-right: 15px;

  font-family: NanumSquare;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */

  /* Font / White */

  color: #ffffff;
  padding: 7px 20px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 17px 17px 17px 0px;
}

.quizBtn {
  width: 1060px;
  margin: auto;
  margin-bottom: 190px;
  text-align: right;

  font-family: NanumSquare;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.02em;
  /* Basic / Primary */
}

.otherAnswers {
  padding: 10px 26px;

  border: 3px solid #796aca;
  box-sizing: border-box;
  border-radius: 23px 23px 23px 0px;
  margin-right: 18px;
  color: #796aca;
}
.nextQuestion {
  padding: 10px 26px;

  border: 3px solid #796aca;
  box-sizing: border-box;
  border-radius: 23px 23px 23px 0px;
  color: #796aca;

  margin-right: 18px;
}

.exit {
  padding: 10px 26px;
  border: 3px solid #796aca;
  box-sizing: border-box;
  border-radius: 23px 23px 23px 0px;
  color: #796aca;
}

.dim {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.blur {
  filter: blur(6px);
  -webkit-filter: blur(6px);
}
