.quizResult {
    margin-top: 75px;
}

.quizResult .titleArea {
    position: relative;
    width: 100%;
    height: 364px;
    border-radius: 120px 120px 120px 0;
    color: white;
    font-weight: bold;
    text-align: left;
}

.quizResult .titleArea .title {
    padding: 152px 0 0 510px;
    font-size: 26px;
    line-height: 30px;
}

.quizResult .titleArea .subTitle {
    padding: 26px 0 0 510px;
    font-size: 18px;
    line-height: 20px;
}

.quizResult .titleArea .badge {
    position: absolute;
    top: 254px;
    right: 434px;
    padding: 40px;
    background-color: #E3E2F0;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    color: black;
    border-radius: 64px 64px 64px 0;
}

.quizResult .container {
    width: 1060px;
    margin: 0 auto;
}

.quizResult .quizResultBox {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.quizResultBox .quizBoxCommon {
    width: 521px;
    height: 228px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    box-sizing: border-box;
}

.quizResultBox .quizUserInfo {
    padding: 36px 107px 0 107px;
}

.quizUserInfo .quizUser {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid #1110364d;
}

.quizUserInfo .imageWrap {
    margin-right: 10px;
}

.quizUserInfo .imageWrap .profile {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.quizUserInfo .userInfoText {
    text-align: left;
}

.quizUserInfo .userInfoText .userName {
    font-weight: bold;
    font-size: 26px;
}

.quizUserInfo .userInfoText .userEmail {
    padding-top: 5px;
    font-size: 16px;
    line-height: 20px;
    color: #1110364d;
}

.quizResultBox .quizCount {
    padding: 10px;
}

.quizResultBox .quizCount ul li {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.quizResultBox .quizCount ul li span {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}

.quizResultBox .quizCount ul li span em {
    color: #796ACA;
}

.quizResultBox .quizCount .totalCountLabel {
    color: #a0a0a0;
}

.quizResultBox .quizTags {
    padding: 45px 71px 0 75px;
    text-align: left;
}

.quizResultBox .quizTags h4 {
    padding-bottom: 15px;
    border-bottom: 1px solid #a0a0a0;
    font-weight: bold;
    font-size: 18px;
}

.quizResultBox .quizTags .tagList {
    margin-top: 15px;
}

.quizResultBox .quizTags .tagBtn {
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid #796aca;
    border-radius: 23px 23px 23px 0;
    font-size: 11px;
    font-weight: bold;
    color: #796aca;
}

.quizResultBox .quizTags .tagBtn:last-child {
    margin-right: 0;
}

.quizResult .solvedQuiz {
    margin-top: 75px;
}

.quizResult .solvedQuiz h3 {
    padding-left: 90px;
    padding-bottom: 30px;
    border-bottom: 2px solid #E7E7E7;
    font-weight: bold;
    font-size: 26px;
    text-align: left;
}

.quizResult .solvedQuiz .solvedQuizList {
    margin-top: 25px;
}

.quizResult .answerBox {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 70px 150px 70px 90px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}

.quizResult .answerBox .answerIndex {
    font-weight: bold;
    font-size: 58px;
    color: #E3E2F0;
}

.quizResult .answerBox .answerTextWrap {
    margin-left: 58px;
}

.quizResult .answerBox .answerTextWrap .answerTitle {
    max-width: 690px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quizResult .answerBox .answerTextWrap .answerContent {
    display: -webkit-box;
    overflow: hidden;
    margin-top: 15px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    text-align: left;
    line-height: 18px;
    color: #a0a0a0;
}

.quizResult .answerBox .questionTagList {
    position: absolute;
    bottom: 33px;
    right: 90px;
}

.quizResult .answerBox .questionTagList .questionTag {
    padding: 7px 20px;
    background-color: #796aca;
    border-radius: 17px 17px 17px 0;
    box-sizing: border-box;
    color: white;
}