%checkbox-default
    +size(16px, 16px)
    +margin(0)
    +padding(0)
    +border-radius(5px)
    +prefix(appearance, none, moz webkit)
    background-color: inherit
    outline: none
    cursor: pointer

%checkbox-wrap-default
    display: flex
    justify-content: flex-start
    align-items: center
    line-height: 16px

    input[type="checkbox"]
        @extend %checkbox-default
        +margin(right 24px)

        &:checked + label
            font-weight: 800

    label
        font-weight: bold
        font-size: 16px
        cursor: pointer

%checkbox-page
    +border(1px solid #111036)

    &.selected
        +background('/asset/image/global/icon_checkbox_on.svg', no-repeat, center center)
        background-size: 16px, 16px

%checkbox-wrap-page
    input[type="checkbox"]
        @extend %checkbox-page

    label:hover
        color: $page-color

%checkbox-white
    +border(1px solid $white)

    &.selected
        +background('/asset/image/global/icon_checkbox_on_white.svg', no-repeat, center center)
        background-size: 16px, 16px

%checkbox-wrap-white
    input[type="checkbox"]
        @extend %checkbox-white

    label
        color: $white

@mixin checkbox($type: null)
    @extend %checkbox-default

    @if($type == 'checkbox-page')
        @extend %checkbox-page
    @else if($type == 'checkbox-white')
        @extend %checkbox-page

@mixin checkbox-wrap($type: null)
    @extend %checkbox-wrap-default

    @if($type == 'checkbox-page')
        @extend %checkbox-wrap-page
    @else if($type == 'checkbox-white')
        @extend %checkbox-wrap-white
